<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Invoice</title>
	</head>
	<body>

		<h1>Invoice</h1>

		<table>
			<tr>
				<td>Invoice id:</td>
				<td>
					<a data-th-href="@{/checkout/{invoiceId}(invoiceId=${invoice.invoiceId})}">
						<code data-th-text="${invoice.invoiceId}"></code>
					</a>
				</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><span data-th-text="${invoice.name}"></span></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><span data-th-text="${invoice.address}"></span></td>
			</tr>
			<tr>
				<td>Total:</td>
				<td><span data-th-text="${invoice.total}"></span></td>
			</tr>
		</table>
		
	</body>
</html>
